@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('http://fonts.cdnfonts.com/css/sofia-pro');
body {
  margin: 0;
  font-family: 'Sofia Pro', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.multi-gradient {
  background: rgb(235,248,255);
  background: linear-gradient(150deg, rgba(235,248,255,1) 0%, rgba(255,255,255,1) 10%, rgba(243,237,249,1) 67%, rgba(214,231,255,1) 100%);
}
.scrollBar::-webkit-scrollbar-track {
	background-color: rgba(0,0,0,.15);
}
.scrollBar::-webkit-scrollbar {
	width: 8px;
}
.scrollBar::-webkit-scrollbar-thumb {
	background-color: #24AEF7;
	border: none;
	border-radius: 5px;
}